<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link rel="shortcut icon" href="favicon.ico" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
    body {
      font-family: "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB",
        "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-align: center;
      margin: 0px;
    }
    </style>
  </head>
  <body>
    <h1 style="font-size: 4rem">Hello World!</h1>
    <h3>(按下F12发现精彩)</h3>
    <p style="font-size: 15rem; color: #bbb; margin: 0px">:D</p>
  </body>
</html>
